

.div-header {

	position:relative;
	width:100%;
	height:785px;
	background-image: url('../img/img_div.jpg');
}

.div-section {

	position:relative;
	width:100%;
	height:2330px;
	overflow: hidden;
	background-color: white;

}

.div-footer {

	position:relative;
	width:100%;
	height:535px;
	background-color: white;
}

.first {

	position:relative;
	width: 100%;
	height:500px;
	background-color: #f5f6f7;
}

.second {

	position:relative;
	width: 100%;
	height:550px;
	background-color: white;
}

.third {

	position:relative;
	width: 100%;
	height:490px;
	background-color: #f5f6f7;
}

.foorth {

	position:relative;
	width: 100%;
	height:790px;
	background-image: url('../img/hdr.jpg');
	background-repeat:no-repeat;
}

.footer-first {

	position: relative;
	width: 100%;
	height:400px;
	background-color: #f5f6f7;
}

.footer-content {

	position: absolute;
	
	left:30%;
	top:50px;
	width:40%;
	text-align: center;
	
}

.footer-btn {

	display: flex;
	justify-content: space-around;
}



.footer-second {

	position: relative;
	width: 100%;
	height:135px;
	background-color: white;
}

.left-footer {

	position: absolute;
	left: 128px;
	top:30px;

}

.right-footer {

	position: absolute;
	right: 128px;
	top:30px;
}
/*===========================================================================================================*/

.img-div {

	
	width:100%;
}

.reseau {

	position: relative;
	top:-5px;
	background-color: black;
}

.div-link {

	display:block;
	position: relative;
	top:40px;
	width: 100%;
	text-align: center;
	
	color:white; 
	
	
}

.link {

	display:inline-block;
	vertical-align: middle;
	margin-left: 17px;
	margin-right: 17px;
	text-decoration: none;
	color:white;
	text-transform: uppercase;
  	
}

.img-id {

	width:80px;
	border: solid 2px white;
	border-radius:  50%;
}

.div-border{

	position: relative;
	top:90px;
	width: 80%;
	border:solid 4px white;
	border-radius: 16px;
	box-shadow: 10px 10px 20px rgba(0,0,0,.8);
}

.div-diapo {

	
	position: relative;
	top:0px;
	overflow: hidden;
	border-radius: 12px;
	

}

.diapo {

	position: absolute;
	width:100%;
	border-radius: 12px;
}

.title-div {

	position: relative;
	top:15%;
	width: 100%;
	text-align: center;
	color:white; 
	
	
}


.h1 {

	text-transform: uppercase;
	font-family: gotham_bold;
	letter-spacing: 10px;
  	
}

.p-title {

	letter-spacing: 3px;
}

.button {

	border: none;
	color:white;
	width:165px;	
	height:50px;
	font-size: 1em;
	text-transform: uppercase;
	margin-top:0px;
	border-radius: 6px;
	background-color: #13245a;
}

.button:focus {

	outline:none;
}

.social-div {

	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	color:white; 
}

.social {

	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	text-decoration: none;
	color: white;
}

.div-link-resp {

	display: none;
}

/*======================================================================================================*/



.handPhone-text {

	position: absolute;
	top:100px;
	left: 128px;
	width:425px;

	
}

.title3 {

	text-transform: uppercase;
	color:#13245a;
}

.text-black {

	margin-top: 35px;
	margin-bottom: 35px;
	font-size: .9em;
}

.handPhone {

	position: absolute;
	top:130px;
	right: 128px;
}



.first-phone {

	position:absolute;
	top:140px;
	left:128px;
}

.first-text {

	position:absolute;
	top:120px;
	right:128px;
}




.second-content {

	display: flex;
    justify-content: space-between;
	position: relative;
	top:148px;
	height:200px;
	margin-left: 128px;
	margin-right: 128px;
}

.sc {

	width:250px;
	height:150px;
	text-align: center;
	padding:25px;
}

.small-diapo {

	display:flex;
    justify-content:space-between;
    width: 65%;

}

.smd {

	
	
}

.img-s-d {

	height:100%;
}

.div-third {

	padding-top: 250px;

	text-align: center;
	
}

.input {

	
	width:280px;
	height:60px;
	font-size: 1.8em;
	padding-left: 15px;
	border: 1px solid white;
    border-top-left-radius: .3em;
	border-bottom-left-radius: .3em;
	background-color: white;
	
}

.input:focus {

	
	outline: none;
	
}

.b-input {


	width:60px;
	height:64px;
	color:white;
	border: 1px solid #13245a;
    border-top-right-radius: .6em;
	border-bottom-right-radius: .6em; 
	background-color: #13245a;
	
}

.b-input:focus {

	
	outline: none;
	
}

.white {

	color:white;
	font-size: 1.5em;
}