@media screen and (max-width: 1100px){
   
/*===================================== header =================================*/

.div-link {

	display:none;
}

.div-link-resp {

	display: block;
	text-align: right;
	background-color: #13245a;
}

.bars {

	margin-top:5px;
	margin-right:25px;
	font-size: 8em;
	color:white;
}

.drop-down {

	display:none;
	flex-direction: column;

}

.links {

	text-decoration: none;
	text-transform: uppercase;
	font-size: 5em;
	color:white;
	padding-right: 25px;
	padding-top:20px;
	padding-bottom: 20px;
}

.links:hover {

	padding-top:20px;
	padding-bottom: 20px;
	background-color: #3d508a;
}
/*===================================== fin header =================================*/

/*===================================== section =================================*/

.div-section {

	position: relative;
	/*height:2590px;*/
	height:100%;
}

.first {

	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
}


.handPhone-text {

	position: relative;
	top:100px;
	left: 0px;
	margin-left:auto;
	margin-right: auto;
	width:425px;

	
}

.title3 {

	text-transform: uppercase;
	color:#13245a;
}

.text-black {

	margin-top: 35px;
	margin-bottom: 35px;
	font-size: .9em;
}

.handPhone {

	display:none;
	position: relative;
	top:130px;
	right: 0px;
	margin-left:auto;
	margin-right: auto;
}

.second {

	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
}



.first-phone {

	display:none;
	position:relative;
	top:200px;
	left:0px;
}

.first-text {

	position:relative;
	top:120px;
	right:0px;
}


.third {

	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.second-content {

	display: flex;
    flex-direction: column;
	position: relative;
	top:148px;
	height:300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.sc {

	width:100%;
	height:150px;
	text-align: center;
	padding: 0px;
	margin-bottom: 40px;
}

.small-diapo {

	display:none;
    flex-direction: column;
    width: 65%;
    text-align: center;

}

.smd {

	
	
}

.img-s-d {

	height:100%;
}

.foorth {

	position:relative;
	width: 100%;
	height:220px;
	background-image: none;
	background-color: gray;
}

.div-third {

	padding-top: 20px;

	text-align: center;
	
}

.div-footer {

	position: relative;
}







}