@font-face {
    font-family: gotham_medium;
    src: url(Gotham_Rounded_Medium.otf);
}


body {

	margin: 0px ;
	padding: 0px ;
	background-color: #f5f6f7 ;
	color : black;
	font-family: gotham_medium;
}


a {

	text-decoration: none;
}